@charset "UTF-8";
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0; }

.col-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

.col-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

.col-3 {
    flex-basis: 25%;
    max-width: 25%; }

.col-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

.col-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

.col-6 {
    flex-basis: 50%;
    max-width: 50%; }

.col-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

.col-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

.col-9 {
    flex-basis: 75%;
    max-width: 75%; }

.col-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

.col-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

.col-12 {
    flex-basis: 100%;
    max-width: 100%; }

.start {
    justify-content: flex-start; }

.center {
    justify-content: center; }

.end {
    justify-content: flex-end; }

.top {
    align-items: flex-start; }

.middle {
    align-items: center; }

.bottom {
    align-items: flex-end; }

.around {
    justify-content: space-around; }

.between {
    justify-content: space-between; }

@font-face {
    font-family: 'icons';
    src: url("../resource/fonts/iconset.eot?2ysad1");
    src: url("../resource/fonts/iconset.eot?2ysad1#iefix") format("embedded-opentype"), url("../resource/fonts/iconset.ttf?2ysad1") format("truetype"), url("../resource/fonts/iconset.woff?2ysad1") format("woff"), url("../resource/fonts/iconset.svg?2ysad1#iconset") format("svg");
    font-weight: normal;
    font-style: normal; }

.icons-logo:before {
    content: ""; }

.icons-battery:before {
    content: ""; }

.icons-check:before {
    content: ""; }

.icons-loss:before {
    content: ""; }

.icons-play_c:before {
    content: ""; }

.icons-reset:before {
    content: ""; }

.icons-reset_c:before {
    content: ""; }

.icons-seat:before {
    content: ""; }

.icons-setting:before {
    content: ""; }

.icons-stop_c:before {
    content: ""; }

.icons-temperature:before {
    content: ""; }

.icons-wifi:before {
    content: ""; }

.icons {
    display: inline-block;
    font: normal normal normal 14px/1 icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icons-spin {
    -webkit-animation: icons-spin 2s infinite linear;
    animation: icons-spin 2s infinite linear; }

@-webkit-keyframes icons-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg); } }

@keyframes icons-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg); } }

.icons-2x {
    font-size: 2em; }

.icons-3x {
    font-size: 3em; }

.icons-4x {
    font-size: 4em; }

.icons-5x {
    font-size: 5em; }

.icons-6x {
    font-size: 6em; }

.icons-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.icons-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.icons-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }

[type='checkbox'] + label {
    display: inline-flex;
    margin-bottom: 0;
    vertical-align: baseline; }

[type='file'] {
    width: 100%; }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer; }
[type="checkbox"]:not(:checked) + label:empty,
[type="checkbox"]:checked + label:empty {
    height: 18px; }

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    background-color: #4f4766; }

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    font: normal normal normal 20px/1 icons;
    content: "";
    position: absolute;
    top: 18px;
    left: 6px;
    color: #ded4ff;
    transition: all .2s; }

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled + label {
    opacity: .5;
    pointer-events: none; }

[type='text'] {
    background-color: #453d56;
    border: 1px #847d9b solid;
    padding: 4px 10px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    color: #ded4ff;
    font-size: 20px;
    box-sizing: border-box; }

.input-group {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%; }
.input-group [type='text'] {
    transition: all 0.7s;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
.input-group [type='text']:focus {
    background-color: #2f2633;
    border: 1px #a790f5 solid; }
.input-group [type='text']:focus ~ label {
    background-color: #a790f5; }
.input-group [type='text'] ~ label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 34px;
    line-height: 35px;
    display: block;
    text-align: center;
    color: #29262d;
    font-weight: bold;
    width: 140px;
    background-color: #847d9b; }

html, body {
    height: 100%; }

.setting_container {
    height: 100%;
    background: #594b5c;
    background: linear-gradient(#363052, #594b5c);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse; }
.setting_container header {
    padding: 0 20px; }
.setting_container header .btn {
    display: block;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    padding: 36px 0;
    margin: 15px 0;
    background-color: #9184ba;
    border-left: 0;
    border-right: 0;
    border-top: 2px #a190cf solid;
    border-bottom: 2px #8176a3 solid;
    outline: 0;
    cursor: pointer;
    transition: all 0.7s; }
.setting_container header .btn:hover {
    background-color: #776d99; }
.setting_container header .btn:active {
    background-color: #9184ba;
    border-bottom: 2px #a190cf solid;
    border-top: 2px #8176a3 solid; }
.setting_container .opt_container {
    height: 100%;
    width: 100%;
    padding-bottom: 10px; }
.setting_container .opt_container .mCSB_scrollTools {
    margin-left: 30px; }
.setting_container .opt_container .mCSB_inside > .mCSB_container {
    margin-right: 18px; }
.setting_container .opt_container .contents_container {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 30px; }
.setting_container .opt_container .contents_container h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
    margin-top: 30px; }
.setting_container .opt_container .contents_container .box {
    border: 1px rgba(255, 255, 255, 0.2) solid;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box; }
.setting_container .opt_container .contents_container .box h3 {
    font-size: 22px;
    color: #af9fe0;
    margin-bottom: 10px;
    display: block; }
.setting_container .opt_container .contents_container .box ul {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3); }
.setting_container .opt_container .contents_container .box ul li {
    border: 1px rgba(255, 255, 255, 0.1) solid;
    width: 50%;
    color: #ded4ff;
    font-size: 22px;
    vertical-align: middle;
    min-height: 60px;
    line-height: 58px;
    padding: 0 30px;
    box-sizing: border-box;
    display: inline-flex; }
.setting_container .opt_container .contents_container .box ul li .red {
    color: #ff006c;
    margin-left: 10px; }

.vr_container {
    height: 100%;
    background: #594b5c;
    background: linear-gradient(#363052, #594b5c);
    padding: 16px 10px 10px 16px;
    box-sizing: border-box; }
.vr_container header {
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 8px; }
.vr_container header h1 {
    flex: 1;
    font-size: 24px;
    color: #fff;
    overflow: hidden; }
.vr_container header .btn {
    border: 0;
    background-color: transparent;
    color: #fff;
    outline: none; }
.vr_container header .btn i {
    cursor: pointer;
    font-size: 30px; }
.vr_container header .btn:active {
    color: #9184ba; }

.list_container {
    padding-right: 10px; }
.list_container .list_view {
    border: 1px #000 solid;
    background-color: #000;
    font-weight: bold;
    overflow-y: auto;
    height: 450px; }
.list_container .list_view li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background: #2b2338;
    color: #7d6bb5;
    padding: 20px 20px;
    font-size: 18px;
    border-top: 2px #2b2338 solid;
    border-bottom: 2px #2b2338 solid;
    margin-top: 1px;
    transition: all 0.7s;
    cursor: pointer; }
.list_container .list_view li:first-child {
    margin-top: 0; }
.list_container .list_view li.active {
    color: #000000;
    background: #9184ba;
    border-top: 2px #a190cf solid;
    border-bottom: 2px #8176a3 solid; }
.list_container .list_view li.active.play {
    position: relative;
    color: #00ffba; }
.list_container .list_view li.active.play .bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    background: #00ffba;
    transition: all 0.7s;
    opacity: 1; }
.list_container .list_view li.play {
    position: relative; }
.list_container .list_view li.play .bar {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    background: transparent;
    opacity: 0; }
.list_container .list_view li .title {
    display: inline-block;
    flex: 1; }
.list_container .list_view li .time {
    display: inline-block; }
.list_container .btn_group {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    display: flex;
    align-content: center;
    align-items: center; }
.list_container .btn_group .btn {
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    width: 25%;
    background-color: transparent;
    border: 0;
    font-size: 54px;
    color: #fff;
    position: relative; }
.list_container .btn_group .btn i {
    cursor: pointer;
    transition: all 0.3s; }
.list_container .btn_group .btn i:active {
    color: #9184ba; }
.list_container .btn_group .btn .icons-seat {
    position: relative;
    transition: all 0.7s; }
.list_container .btn_group .btn .icons-seat.off {
    color: #ff0000; }
.list_container .btn_group .btn .icons-seat.off:after {
    content: 'OFF';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 2px;
    font-size: 14px; }
.list_container .btn_group .btn .icons-seat.on {
    color: #02e467; }
.list_container .btn_group .btn .icons-seat.on:after {
    content: 'ON';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 2px;
    font-size: 14px; }

.board_container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px 0px 0px 0px; }
.board_container .board_view {
    position: relative; }
.board_container .board_view.active:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 200; }
.board_container .board_view ul {
    display: flex;
    align-items: center;
    align-content: center; }
.board_container .board_view ul:first-child li {
    margin: 8px 8px 8px 8px; }
.board_container .board_view ul li {
    width: 20%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 10px;
    background-color: #241835;
    border-radius: 10px;
    margin: 8px 8px;
    border: 2px #241835 solid;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative; }
.board_container .board_view ul li.alert {
    border-color: #ff006c;
    background-color: #3a1738;
    box-shadow: 0px 0px 12px #000; }
.board_container .board_view ul li.alert .bat .box:before {
    background-color: #3a1738; }
.board_container .board_view ul li.alert .bat .box:after {
    background-color: #3a1738; }
.board_container .board_view ul li span {
    color: #fff;
    font-size: 16px;
    width: 40px;
    flex: 1; }
.board_container .board_view ul li .play .icons-stop_c {
    display: none; }
.board_container .board_view ul li .play.warning .icons-stop_c {
    display: block;
    color: #ff006c !important; }
.board_container .board_view ul li .play.warning .icons-play_c {
    display: none; }
.board_container .board_view ul li .wifi .icons-loss {
    display: none; }
.board_container .board_view ul li .wifi.warning .icons-wifi {
    opacity: .3; }
.board_container .board_view ul li .wifi.warning .icons-loss {
    position: absolute;
    right: 8px;
    top: 10px;
    display: block;
    color: #ff006c !important; }
.board_container .board_view ul li .icons {
    font-size: 22px;
    color: #baa6ff;
    margin: 0 2px; }
.board_container .board_view ul li .icons.warning {
    color: #ff006c !important; }
.board_container .board_view ul li .icons.icons-reset {
    display: none; }
.board_container .board_view ul li.active {
    z-index: 300;
    transform: scale(1.3, 1.3); }
.board_container .board_view ul li.active .icons-reset {
    display: block;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 12px; }
.board_container .board_view ul li.active .tem {
    width: inherit;
    display: inline-block;
    margin: 16px 10px 0px 3px;
    min-height: inherit; }
.board_container .board_view ul li.active .tem .box {
    display: none; }
.board_container .board_view ul li.active .bat {
    width: inherit;
    margin: 16px 10px 0px 3px;
    display: inline-block;
    min-height: inherit; }
.board_container .board_view ul li.active .bat .box {
    display: none; }
.board_container .board_view ul li.active .reset {
    width: inherit;
    margin: 16px 10px 0px 3px;
    display: inline-block;
    min-height: inherit; }
.board_container .board_view ul li .reset {
    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 30px;
    padding-right: 6px; }
.board_container .board_view ul li .reset .icons-reset {
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 16px;
    color: #ff006c;
    width: inherit;
    display: inline-block; }
.board_container .board_view ul li .reset.warning .title {
    color: #ff006c;
    font-size: 18px; }
.board_container .board_view ul li .bat {
    margin: 16px 0 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 30px;
    padding-right: 2px; }
.board_container .board_view ul li .bat.warning .title {
    color: #ff006c; }
.board_container .board_view ul li .bat.warning .box .tum {
    background-color: #ff006c; }
.board_container .board_view ul li .bat .title {
    color: #baa6ff;
    font-size: 14px;
    line-height: 14px;
    margin-top: 1px;
    flex: 10%; }
.board_container .board_view ul li .bat .box {
    height: 18px;
    width: 100%;
    margin-left: 0px;
    background-size: auto;
    padding: 0 3px 0 3px;
    border: 1px #7c7486 solid;
    box-sizing: border-box;
    position: relative; }
.board_container .board_view ul li .bat .box:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 3px;
    right: -5px;
    border: 1px #7c7486 solid;
    height: 7px;
    background-color: #241835;
    width: 3px; }
.board_container .board_view ul li .bat .box:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 4px;
    right: -4px;
    height: 7px;
    background-color: #241835;
    width: 4px; }
.board_container .board_view ul li .bat .box .tum {
    display: inline-block;
    background-color: #baa6ff;
    height: calc(100% - 6px);
    vertical-align: top;
    font-size: 0;
    margin-top: 3px;
    transition: all 0.7s; }
.board_container .board_view ul li .tem {
    margin: 0px 0 0px 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 30px; }
.board_container .board_view ul li .tem.warning .title {
    color: #ff006c; }
.board_container .board_view ul li .tem.warning .box .tum {
    background-color: #ff006c; }
.board_container .board_view ul li .tem.warning .box .tum:before {
    background-color: #ff006c; }
.board_container .board_view ul li .tem .title {
    color: #baa6ff;
    font-size: 14px;
    line-height: 14px;
    margin-top: 1px;
    flex: 10%; }
.board_container .board_view ul li .tem .box {
    width: 100%;
    height: 14px;
    background-size: auto;
    padding: 0 2px 0 0;
    margin-left: 16px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    box-sizing: border-box;
    position: relative; }
.board_container .board_view ul li .tem .box:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: -4px;
    left: -15px;
    border: 1px #7c7486 solid;
    height: 18px;
    border-radius: 50%;
    width: 18px;
    background-color: #241835;
    z-index: -1px; }
.board_container .board_view ul li .tem .box:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12px;
    background-color: #241835;
    width: 10px; }
.board_container .board_view ul li .tem .box .tum {
    display: inline-block;
    background-color: #baa6ff;
    height: calc(100% - 6px);
    vertical-align: top;
    font-size: 0;
    margin-top: 3px;
    position: relative;
    z-index: 100;
    transition: all 0.7s; }
.board_container .board_view ul li .tem .box .tum:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: -4px;
    left: -12px;
    height: 14px;
    border-radius: 50%;
    width: 14px;
    background-color: #baa6ff;
    z-index: -1px; }
.board_container .board_view ul li .tem .box .tum:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 4px;
    left: -18px;
    height: 6px;
    background-color: #fff;
    width: 4px;
    display: none; }

.mCSB_inside > .mCSB_container {
    margin-right: 0px; }

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: transparent; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    width: 8px; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75); }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75); }
