<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>dashboard</title>
    <link rel="stylesheet" media="all" href="../css/vendor.css">
    <link rel="stylesheet" media="all" href="../css/app.css">
</head>
<body>

<div class="vr_container">
    <header>
        <h1><i class="icons icons-logo"></i></h1>

        <div class="conneted">
            <span class="title">Connected</span>
            <span id="ui:number-of-devices">12</span>/<span>20</span>
        </div>
        <button type="button" class="btn icon is-setting" id="btn:setting"><i class="icons icons-setting"></i></button>
    </header>
    <article class="row">
        <section class="list_container col-4">
            <ul class="list_view">
                <li class="is-click">
                    <span class="title">intintrointrointroin trorointintroin trointrointrorointintrointrointrointrorointintrointrointrointroro intro</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">Hold</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">360_intro</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">T-Express_2D</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">dafari_0239</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">안녕하세요 박민욱프로입니다.대쉬보드 관련하여 가이드 받고자 메일드립니다.</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">intro</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">Hold</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">360_intro</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">T-Express_2D</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">dafari_0239</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
                <li class="is-click">
                    <span class="title">Outro</span>
                    <span class="time">00:04</span>
                    <span class="bar"></span>
                </li>
            </ul>
            <div class="btn_group">
                <span class="btn icons"><i class="icons icons-seat off is-click" id="4dchair_btn"></i></span>
                <span class="btn icons"><i class="icons icons-play_c is-click disable" id="play_btn"></i></span>
                <span class="btn icons"><i class="icons icons-stop_c is-click" id="stop_btn"></i></span>
                <span class="btn icons"><i class="icons icons-reset_c" id="rearrange_btn"></i></span>
            </div>
        </section>
        <section class="board_container col-8">
            <div class="board_view">
                <ul>
                    <li class="is-click warning" id="101">
                        <span>101</span>
                        <div class="play warning">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi warning">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat warning">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem warning">
                            <span class="title">100℃</span>
                            <span class="box">
                                <span class="tum" style="width: 100%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click warning" id="201">
                        <span>201</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi warning">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem warning">
                            <span class="title">66℃</span>
                            <span class="box">
                                <span class="tum" style="width: 66%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="301">
                        <span>301</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">16.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 16.5%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click warning" id="401">
                        <span>401</span>
                        <div class="play warning">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">76℃</span>
                            <span class="box">
                                <span class="tum" style="width: 76%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click alert" id="501">
                        <span>501</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">100%</span>
                            <span class="box">
                                <span class="tum" style="width: 100%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">46.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 46.5%"></span>
                            </span>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="is-click alert" id="102">
                        <span>102</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">40℃</span>
                            <span class="box">
                                <span class="tum" style="width: 40%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="202">
                        <span>202</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat charge">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">66℃</span>
                            <span class="box">
                                <span class="tum" style="width: 66%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="302">
                        <span>302</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">16.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 16.5%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="402">
                        <span>402</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat charge">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">76℃</span>
                            <span class="box">
                                <span class="tum" style="width: 76%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="502">
                        <span>502</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">100%</span>
                            <span class="box">
                                <span class="tum" style="width: 100%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">46.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 46.5%"></span>
                            </span>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="is-click" id="103">
                        <span>103</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">40℃</span>
                            <span class="box">
                                <span class="tum" style="width: 40%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="203">
                        <span>203</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">66℃</span>
                            <span class="box">
                                <span class="tum" style="width: 66%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="303">
                        <span>303</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">16.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 16.5%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="403">
                        <span>403</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">76℃</span>
                            <span class="box">
                                <span class="tum" style="width: 76%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="503">
                        <span>503</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">100%</span>
                            <span class="box">
                                <span class="tum" style="width: 100%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">46.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 46.5%"></span>
                            </span>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="is-click" id="104">
                        <span>104</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">40℃</span>
                            <span class="box">
                                <span class="tum" style="width: 40%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="204">
                        <span>204</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">66℃</span>
                            <span class="box">
                                <span class="tum" style="width: 66%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="304">
                        <span>304</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">20%</span>
                            <span class="box">
                                <span class="tum" style="width: 20%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">16.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 16.5%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="404">
                        <span>404</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">80%</span>
                            <span class="box">
                                <span class="tum" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">76℃</span>
                            <span class="box">
                                <span class="tum" style="width: 76%"></span>
                            </span>
                        </div>
                    </li>
                    <li class="is-click" id="504">
                        <span>504</span>
                        <div class="play">
                            <i class="icons icons-stop_c"></i>
                            <i class="icons icons-play_c"></i>
                        </div>
                        <div class="wifi">
                            <i class="icons icons-wifi"></i>
                            <i class="icons icons-loss"></i>
                        </div>
                        <i class="icons icons-reset is-click"></i>
                        <div class="bat">
                            <span class="title">100%</span>
                            <span class="box">
                                <span class="tum" style="width: 100%"></span>
                            </span>
                        </div>
                        <div class="tem">
                            <span class="title">46.5℃</span>
                            <span class="box">
                                <span class="tum" style="width: 46.5%"></span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>

<div class="setting_container row">
    <header class="col-3">
        <button type="button" class="btn" id="btn:setting-default">Default</button>
        <button type="button" class="btn is-vr" id="btn:setting-save">Save & Exit</button>
        <button type="button" class="btn is-vr" id="btn:setting-cancel">Cancel & Exit</button>
    </header>
    <article class="opt_container row col-9">
        <section class="contents_container">
            <h2>Server</h2>
            <div class="box">
                <h3>Warning options</h3>
                <ul>
                    <li>Enable</li>
                    <li>
                        <input type="checkbox" id="setting:warn"><label for="setting:warn"></label>
                    </li>
                </ul>
                <ul>
                    <li>Warning battery</li>
                    <li>
                        <div class="input-group">
                            <input type="text" value="60" id="setting:warn-battery">
                            <label>%</label>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>Warning temperature</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:warn-temperature">
                            <label>℃</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box">
                <h3>Device check</h3>
                <ul>
                    <li>Check interval</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:device-check-check-interval">
                            <label>msec</label>
                        </div>
                    </li>
                </ul>
            </div>
            <h2 class="mat30">Client</h2>
            <div class="box">
                <h3>Motion client</h3>
                <ul>
                    <li>Motion server address</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:motion-server-address">
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>Server port</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:motion-server-port">
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>Connection timeout</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:motion-server-connection-timeout">
                            <label>msec</label>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>Reconnect interval</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:motion-server-reconnect-interval">
                            <label>msec</label>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>Ping interval<span class="red">(Must be bigger than Loading Lag)</span></li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:motion-server-ping-interval">
                            <label>msec</label>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>Time check interval</li>
                    <li>
                        <div class="input-group">
                            <input type="text" id="setting:motion-server-time-check-interval">
                            <label>msec</label>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>

<script type="text/javascript" src="../js/vendor.js"></script>
<script type="text/javascript" src="../js/app.js"></script>

<script>
    (function($){

        $(window).on("load",function(){
            $(".list_view").mCustomScrollbar();
        });

        //layout
        $(document).ready(function() {
            var setHeight = - $('.setting_container').height();
            $('.setting_container').css('top', setHeight);
        });
        /*$(".is-setting").click(function() {
         $('body').addClass('setting')
         $('.board_container .board_view').removeClass('active')
         $('.board_container .board_view > ul > li').removeClass('active')
         });
         $(".is-vr").click(function() {
         $('body').removeClass('setting')
         });*/

        var activeFlag = true;

        $(document).on( "click touchstart", function() {
            if ($(".board_view").hasClass('active')) {
                $(".board_view").removeClass('active')
                $(".board_view").find(".is-click").removeClass('active')
                activeFlag = false;
            }
        });

        $(".is-click").click(function() {
            if ($(this).hasClass('icons-seat')) { //seat

                //$(this).toggleClass('on')

            } else if ($(this).hasClass('icons-play_c')) { //play

                //$('.active').addClass('play')
                //$('.active .bar').css('width', '50%')

            } else if ($(this).hasClass('icons-stop_c')) { //stop

                //$('.active').removeClass('play')
                //$('.bar').css('width', '0%')

            } else if ($(this).parent().parent().hasClass('board_view')) { //board

                if (activeFlag == true) {
                    $(this).addClass('active');
                    $(this).parent().parent().addClass('active');
                    event.stopPropagation();
                } else {
                    activeFlag = true;
                }


            } else if ($(this).hasClass('icons-reset')) { //stop

                //alert('event')

            } else {

                $(this).toggleClass('active')

            }
        });

    })(jQuery);
</script>

</body></html>