html, .React_app, .layout_container, .view {height: 100%}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin:0;
  background: url('https://atmospherejs.com/bg-nav-1200x1000.jpg') no-repeat center bottom;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #287DA6;
  background-image: url('https://atmospherejs.com/bg-hero-1200x600.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  color: white;
  text-align: center;
}

.container {
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  background-image: url('https://atmospherejs.com/bg-hero-1200x600.jpg');
  height: 100%;
  background-size: cover;
}

.NavDrawer {
  > div {
    box-shadow: none!important;
    background-color: rgba(0, 0, 0, .4)!important;
    > a {
      text-align: center;
    }
  }
}

.contents {
  height: 100%;
  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding-top: 0px;
    letter-spacing: 0px;
    padding-left: 50px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    height: 64px;
    line-height: 64px;
    flex: 1 1 0%;
  }
  .content_tem {
    background-color: #fff;
    padding: 20px;
    height: 100%;
  }
}

.nav {
  width: 48px;
  height: 48px;
  position: absolute;
  top:6px;
  right:0;
  z-index: 100;
  &.open {
    .menuBtn {
      opacity: 0;
    }
    > span {
      opacity: .0;
    }
    & ~ .container {
      transform: translateX(-6vw) translateY(75px) rotateX(45deg) rotateZ(45deg) scale3d(0.85, 0.85, 1);
      -webkit-perspective: 1500px;
      -webkit-perspective-origin: 50% 100px;
      perspective: 1500px;
      perspective-origin: 50% 100px;
      opacity: .9;
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 3px;
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
      backface-visibility: hidden;
      height: calc(100% - 60px);
      overflow: hidden;
      .contents {
        height: 100%;
        h2 {
          padding-left: 20px;
        }
      }
    }
  }
}


#nav {
  ul {
    margin: 0;
    li {
      list-style: none;
      margin: 0;
      a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


.cardContainer {
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
.cardLayout {
  width: 250px;
  margin: 10px 10px;
  .commentBox {
    span {font-weight: bold}
  }
}

.imagesModal {
  width: 640px!important;
  > div {
    background-color: #fff!important;
    width: 640px;
    height: 730px;
    > div {
      padding-bottom: 0!important;
    }
  }
  .bigImages {
    img {
      width: 100%;
    }
  }
}

.tumblrHead {
  padding-bottom: 0!important;
  > div {
    padding-right: 0!important;
  }
}

.tumblrTag {
  border-top: 1px solid rgba(197, 197, 197, .5);
  font-size: 12px;
  padding: 8px 15px!important;
}

.chip {
  svg {
    fill:rgba(0,0,0,.13)!important;
  }
  &.active {
    svg {
      fill:rgba(0,0,0,.258824)!important;
    }
  }
}

.packery-item {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 30px;
}

.react-grid-layout {
  position: relative;
}


.loading {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.9);
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
  .loginBoix {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    .cubetext {
      width: 75px;
      height: 75px;
      text-align: center;
      margin-top: 30px;
    }
    .thecube {
      width: 75px;
      height: 75px;
      position: relative;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);

      .cube {
        position: relative;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }

      .cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

      .cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2BA0C7;
        -webkit-animation: foldthecube 2.4s infinite linear both;
        animation: foldthecube 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }

      .c2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
      }

      .c3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
      }

      .c4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
      }

      .c2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }

      .c3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }

      .c4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
      }

      @keyframes foldthecube {
        0%, 10% {
          -webkit-transform: perspective(140px) rotateX(-180deg);
          transform: perspective(140px) rotateX(-180deg);
          opacity: 0;
        }

        25%,
        75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
        }

        90%,
        100% {
          -webkit-transform: perspective(140px) rotateY(180deg);
          transform: perspective(140px) rotateY(180deg);
          opacity: 0;
        }
      }
    }
  }
}